<!DOCTYPE html>
<html>
    <head>
        <title>Room Availability</title>
    </head>
    <body>
	<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
	<div><p>config -> {{ra_config }}</p></div>
	<div>dygraphs grafikas:</div>
	<div id="dychart-chart" style="width:900px; height:500px;"></div>
	<p><b>Rodyti:</b></p>
    <div>
      <input type="checkbox" id="0" checked="" onclick="change(this)">
      <label for="0">b8:27:eb:54:2c:38_1</label>
      <input type="checkbox" id="1" checked="" onclick="change(this)">
      <label for="1">ec:fa:bc:e:a6:95_2</label>
      <input type="checkbox" id="2" checked="" onclick="change(this)">
      <label for="2">ec:fa:bc:e:a6:95_3</label>
	  <input type="checkbox" id="3" checked="" onclick="change(this)">
      <label for="3">ec:fa:bc:e:a6:95_4</label>
    </div>
	<div>
	<h1>Date Calculator</h1>
	<form method="post" id="form">
	<button value="month" class="submitbutton" type="submit">Month</button><button value="week" type="submit" class="submitbutton">Week</button><button value="3_days" type="submit" class="submitbutton">3 days</button><button value="1_day" type="submit" class="submitbutton">1 day</button>
    </form>
	<p id="test"></p>
	</div>
	<script>
    g = new Dygraph(
    document.getElementById("dychart-chart"),
    [{% for i in busyness_data %}
	    [new Date("{{ i }}"),{% for j in ra_config['floors'][4] %}{{ busyness_data[i][j]['data'] }}{{ "," if not loop.last }}{% endfor %}]{{ "," if not loop.last }}{% endfor %}
    ],
	{
		labels: ["data", {% for i in ra_config['floors'][4] %}"{{ i }}"{{ ", " if not loop.last }}{% endfor %}],
		rollPeriod: 1,
		showRoller: true,
		legend: 'always',
		axisLabelWidth: 30,
		fillGraph: false,
		ylabel: 'Busyness (1 - busy, 0 - free)',
		xlabel: 'Time',
		digitsAfterDecimal: 2,
		showRangeSelector: true,
		rangeSelectorHeight: 10,
		visibility:[true,true,true,true]
	}
);
    setStatus();
    function setStatus() {
      document.getElementById("visibility").innerHTML = g.visibility().toString();
    }
 
    function change(el) {
      g.setVisibility(parseInt(el.id), el.checked);
      setStatus();
    }
	function set_period(period) {
	  return true
	}
	</script>
	<script>
	$(function() {
      var buttonpressed;
      $('.submitbutton').click(function() {
        buttonpressed = $(this).attr('value')
       })
	  $('#form').on('submit', function(e){
		var value = buttonpressed;
		buttonpressed=""
		e.preventDefault();
		$.ajax({
		  url: 'http://flask-app-dexter-lab.e4ff.pro-eu-west-1.openshiftapps.com:80/ra/date/',
		  data: {'time_scale': value},
		  method: 'POST',
		  success: function(data) {
			$('#value').val('');
			var obj = JSON.parse(data['time_scale']);
			var dataList = [];
			var labels = ['data'];
			for (i in obj.busyness_data) {
                var tempList = [new Date(i)];
				for (j in obj.ra_config['floors'][4]) {
				    tempList.push(obj.busyness_data[i][j]['data']);
				}
				dataList.push(tempList);
            }
			for (i in obj.ra_config['floors'][4]) {
				labels.push(i);
			}
			var divField = document.getElementById("dychart-chart");
			var parameters = {
		        labels: labels,
		        rollPeriod: 1,
		        showRoller: true,
		        legend: 'always',
		        axisLabelWidth: 30,
		        fillGraph: false,
		        ylabel: 'Busyness (1 - busy, 0 - free)',
		        xlabel: 'Time',
		        digitsAfterDecimal: 2,
		        showRangeSelector: true,
		        rangeSelectorHeight: 30,
		        visibility:[true,true,true,true]
	        }
			console.log('xxx xxx xxx');
			console.log(' ', divField, dataList, parameters);
			console.log('xxx xxx xxx');
			console.log('value: ' + value, 'ra_config: ' + obj.ra_config.toString(), 'busyness_data' + obj.busyness_data.toString());
			console.log('pirma g');
            console.log(' ', g.toString());
			g = new Dygraph(divField, dataList, parameters);
		  }
		});
	  });
	});
	</script>
	</body>
</html>
